<h1 class="markerTitle"><%= title %></h1>
<p class="markerDesc"><%= description %></p>
<a href="http://www.aina.ucalgary.ca/scripts/minisa.dll/144/proe/proe/sisn+<%= id %>?COMMANDSEARCH">View in ASTIS</a>
