<h1 class="markerTitle"><%= obj.title %></h1>
<p class="markerDesc"><%= obj.description %></p>
<a href="http://www.aina.ucalgary.ca/scripts/mwimain.dll/144/proe/proe/sisn+<%= obj.id %>?COMMANDSEARCH" target="_blank">View in ASTIS</a>
