doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Arctic Scholar
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/style.css")
    script(type="text/javascript", src="/app.js")

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    header.container
      div.row
        div.col-md-4.col-sm-4.col-xs-4
          h1
            a(href="/")
              | Arctic Scholar

        div.col-md-8.col-sm-8.col-xs-8.text-right
          h2
            a(href="/about.html")
              | About

    div#app
