@import 'control.searchbar';
@import 'control.legend';
@import 'control.datatable';

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

header {
  height: 3em;
}

header h1 {
  font-size: 1.5em;
  line-height: 2em;
  margin: 0 0 0 0;
}

header h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0.8em 0 0 0;
}

#app {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 3em;
}

.markerTitle {
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.markerDesc {
  max-height: 15em;
  overflow: auto;
  border: 1px solid #AAA;
}

// Override for image assets
.leaflet-control-layers-toggle {
  background-image: url('/images/layers.png');
  width: 36px;
  height: 36px;
  }
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('/images/layers-2x.png');
  background-size: 26px 26px;
  }
