//= require bootstrap/dist/css/bootstrap
//= require_self

@import "control.searchbar";

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
